html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


#dashboard {

  position: relative;
  width: 1000px;
  height: 600px;

  background-image: url(../img/bg.png);

  color: white;
  font-family: monospace;

  & > * {
    position: absolute;
  }

}

.numeric-gauge-digital {
  font-size: 26px;
  letter-spacing: 10px;
}

.numeric-gauge-analog{
  font-size: 20px;
  letter-spacing: 0px;
}

#numeric-speed {
  right: 729px;
  top: 258px;
}


#numeric-altitude {
  right: 403px;
  top: 262px;
}


.numeric-display {
  position: absolute;
  font-size: 22px;
  letter-spacing: 2px;
}


#numeric-speed-min {
  top: 407px;
  left: 160px;
}

#numeric-speed-max {
  top: 437px;
  left: 160px;
}

#numeric-speed-ave {
  top: 467px;
  left: 160px;
}


#numeric-altitude-min {
  top: 407px;
  left: 495px;
}

#numeric-altitude-max {
  top: 437px;
  left: 495px;
}

#numeric-altitude-ave {
  top: 467px;
  left: 495px;
}


#connection-status {
  font-size: 16px;
  top: 435px;
  left: 805px;
  width: 130px;
  letter-spacing: 0px;
  text-align: end;

  background-image: url(./../img/connection-offline.png);
  background-repeat: no-repeat;
  background-size: contain;

  &.connected {
    background-image: url(./../img/connection-online.png);
  }

  &.connecting {
    background-image: url(./../img/connection-connecting.png);
  }
}


#landing-gear-status {

  width: 70px;
  height: 52px;
  top: 120px;

  &.on {
    background-image: url(./../img/landing-gear-on.png);
    left: 804px;
  }

  &.off {
    background-image: url(./../img/landing-gear-off.png);
    left: 874px;
  }

}


#flaps-status {

  width: 20px;
  height: 52px;
  top: 257px;
  left: 804px;

  background-image: url(./../img/flaps-switch.png);

  @for $i from 0 through 5 {
    &.position-#{$i} {
      left: 804px + (24 * $i);
    }
  }

}
