html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


#dashboard {

  position: relative;
  width: 1000px;
  height: 600px;

  background-image: url(../img/bg.png);

  color: white;

}


#numeric-speed {
  position: absolute;
  right: 729px;
  top: 258px;
}

.numeric-gauge {
  font-family: monospace;
  font-size: 26px;
  letter-spacing: 10px;
}
