html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


#dashboard {

  position: relative;
  width: 1000px;
  height: 600px;

  background-image: url(../img/bg.png);

  color: white;
  font-family: monospace;

  & > * {
    position: absolute;
  }

}


#numeric-speed {
  font-size: 26px;
  letter-spacing: 10px;
  right: 729px;
  top: 258px;
}


#numeric-altitude {
  font-size: 20px;
  letter-spacing: 0px;
  right: 403px;
  top: 262px;
}


.numeric-display {
  position: absolute;
  font-size: 22px;
  letter-spacing: 2px;
}


#numeric-speed-min {
  top: 407px;
  left: 160px;
}

#numeric-speed-max {
  top: 437px;
  left: 160px;
}

#numeric-speed-ave {
  top: 467px;
  left: 160px;
}


#numeric-altitude-min {
  top: 407px;
  left: 495px;
}

#numeric-altitude-max {
  top: 437px;
  left: 495px;
}

#numeric-altitude-ave {
  top: 467px;
  left: 495px;
}


#status {
  font-size: 16px;
  top: 435px;
  left: 805px;
  width: 130px;
  letter-spacing: 0px;
  text-align: end;

  background-image: url(./../img/connection-offline.png);
  background-repeat: no-repeat;
  background-size: contain;

  &.connected {
    background-image: url(./../img/connection-online.png);
  }

  &.connecting {
    background-image: url(./../img/connection-connecting.png);
  }
}
