<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
  </head>
  <body>

    <div id="dashboard">

      <div id="numeric-speed" class="numeric-gauge">123</div>

    </div>

  </body>
</html>
